@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,700&display=swap');

:root {
    --cor-background: #F7F7F7;
    --cor-orange: #E85722;
    --cor-bluesecondary: #433F87;
    --cor-blueprimary: #2B2862;
    --cor-pcolor: #72787B;
    --cor-white: #FFF;
    --cor-btn: #D44C1B;
    --fonte-principal: "Nunito Sans";
}

* {
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: Nunito Sans;
    font-weight: normal;
}

body {
    background: #eee;
    font-family: Nunito Sans;
}

.cabeçalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/MenuAberto.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    margin-right: 16px;
}


.cabeçalho {
    background-color: var(--cor-bluesecondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container-cabeçalho {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 1%;
    width: 60vw;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1rem;
    background-color: var(--cor-white);
}

.lista-menu__link {
    color: var(--cor-blueprimary);
    text-transform: uppercase;
    text-decoration: none;
}

.container__botao {
    display: none;
}

.opções {
    display: flex;
}

.opções__item {
    padding: 0 1em;
    text-transform: uppercase;
    color: var(--cor-white);
}

.opções__link {
    color: var(--cor-white);
    text-decoration: none;
    text-transform: uppercase;
}

.cabeçalho__menu-hamburguer {
    display: none;
}




.heading {
    color: var(--cor-orange);
    font-size: 40px;
    text-align: center;
    padding: 10px;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    align-items: flex-start;
    padding: 5px 5%;
}

.container .main-video {
    background: #fff;
    border-radius: 5px;
    padding: 10px;
}

.container .main-video video {
    width: 100%;
    border-radius: 5px;
}

.container .main-video .title {
    color: #333;
    font-size: 23px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.container .video-list {
    background: #fff;
    border-radius: 5px;
    height: 520px;
    overflow-y: scroll;
}

.container .video-list::-webkit-scrollbar {
    width: 7px;
}

.container .video-list::-webkit-scrollbar-track {
    background: #ccc;
    border-radius: 50px;
}

.container .video-list::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 50px;
}

.container .video-list .vid video {
    width: 100px;
}

.container .video-list .vid {
    display: flex;
    align-items: center;
    gap: 15px;
    background: #f7f7f7;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, .1);
    cursor: pointer;
}

.container .video-list .vid:hover {
    background: #eee;
}

.container .video-list .vid.active {
    background: #2980b9;
}

.container .video-list .vid.active .title {
    color: #fff;
}

.container .video-list .vid .title {
    color: #333;
    font-size: 17px;
}

@media (max-width:991px) {
    .container {
        grid-template-columns: 1.5fr 1fr;
        padding: 10px;
    }
}

@media (max-width:768px) {
    .container {
        grid-template-columns: 1fr;
    }
    .opções {
        display: none;
    }

    .cabeçalho__menu-hamburguer {
        width: 24px;
        height: 24px;
        background-image: url("../img/MenuAberto.svg");
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
    }
    

    
}